ShortScrollBar {
    qproperty-barWidth: 6;
    qproperty-radius: 3;
    qproperty-handleLength: 18;

    qproperty-handleColor: rgba(0, 0, 0, 75);
    qproperty-handleHoverColor: rgba(0, 0, 0, 110);
    qproperty-handlePressedColor: rgba(0, 0, 0, 140);
}

